# List is an ordered collection of elements enclosed within [ ]

## 1.  Lists are mutable - values inside it can be changed as and when we want.

## 2. Lists can contain duplicate values.

## 3. Order is significant, the elements are accessed in the order they appear.

## 4. List indices start from 0.
#### The first element in the list is at index positin 0.

## 5. List indices end at length -1.
#### The last element in a list is at index position length -1.

In [1]:
empty_list = []

In [2]:
empty_list

[]

In [2]:
type(empty_list)

list

In [5]:
list_str = ['Mahindra Thar','Maruti Brezza','Hyundai Venue','Kia Sonet']

list_str

['Mahindra Thar', 'Maruti Brezza', 'Hyundai Venue', 'Kia Sonet']

In [6]:
type(list_str)

list

In [7]:
list_int = [4,6,8,23,56,78]

list_int

[4, 6, 8, 23, 56, 78]

In [8]:
list_float = [1.5,3.5,6.7,1.2,8.9]

list_float

[1.5, 3.5, 6.7, 1.2, 8.9]

In [9]:
list_bool = [True,False]

list_bool

[True, False]

In [10]:
mixed_list = ['Honda City',1,2.5,True]

mixed_list

['Honda City', 1, 2.5, True]

In [3]:
cars_list = ['Mahindra Thar','Maruti Brezza','Hyundai Venue','Kia Sonet']

print(cars_list[0])  #List indices start from 0

Mahindra Thar

In [4]:
print(cars_list[1])

print(cars_list[2])

print(cars_list[3]) #List indices end at length -1

Maruti Brezza
Hyundai Venue
Kia Sonet

In [5]:
print(cars_list[-1])

Kia Sonet

In [14]:
print(cars_list[4])

IndexError: list index out of range

In [16]:
len(cars_list)

4

In [18]:
print('car at index 2: ', cars_list[2])

car at index 2:  Hyundai Venue

In [19]:
print(cars_list[3])

Kia Sonet

In [20]:
print(cars_list[1,2])

TypeError: list indices must be integers or slices, not tuple

In [21]:
cars_list

['Mahindra Thar', 'Maruti Brezza', 'Hyundai Venue', 'Kia Sonet']

In [22]:
print(cars_list[-1])

Kia Sonet

In [23]:
print(cars_list[-2])

print(cars_list[-3])

print(cars_list[-4])

Hyundai Venue
Maruti Brezza
Mahindra Thar

In [24]:
print(cars_list[-5])

IndexError: list index out of range

In [25]:
cars_list[-2]

'Hyundai Venue'

In [27]:
cars_list[3] = 'Maruti Swift'

print('New car at index 3 is: ',cars_list[3])

cars_list

New car at index 3 is:  Maruti Swift

['Mahindra Thar', 'Maruti Brezza', 'Hyundai Venue', 'Maruti Swift']

In [28]:
cars_list[2] = 'Tata Nano'

In [29]:
cars_list

['Mahindra Thar', 'Maruti Brezza', 'Tata Nano', 'Maruti Swift']