In [1]:
cars_list = ['Mahindra Thar','Maruti Brezza','Hyundai Venue','Kia Sonet']

cars_list

['Mahindra Thar', 'Maruti Brezza', 'Hyundai Venue', 'Kia Sonet']

In [2]:
cars_list[4] = 'Maruti Alto'

IndexError: list assignment index out of range

# 1. Append method to add the element at the end of the list

In [3]:
cars_list.append('Maruti Alto')

cars_list

['Mahindra Thar', 'Maruti Brezza', 'Hyundai Venue', 'Kia Sonet', 'Maruti Alto']

In [4]:
cars_list.append('Tata Nano','Honda City') #Append method works with only one element

cars_list

TypeError: list.append() takes exactly one argument (2 given)

In [5]:
len(cars_list)

5

# 2. Insert method is used to insert any element a particular index position in the list

In [6]:
cars_list.insert(6, 'Tata Nano')

cars_list

['Mahindra Thar',
 'Maruti Brezza',
 'Hyundai Venue',
 'Kia Sonet',
 'Maruti Alto',
 'Tata Nano']

In [7]:
len(cars_list)

6

In [8]:
cars_list.insert(5,'Tata Altroz')

cars_list #python remembers that the last element was inserted at pos 6,
          #therefore it inserts at the second last position.

['Mahindra Thar',
 'Maruti Brezza',
 'Hyundai Venue',
 'Kia Sonet',
 'Maruti Alto',
 'Tata Altroz',
 'Tata Nano']

# 3. Extend function is used to add multiple elements at the end of the list.

In [9]:
cars_list.extend(['Honda City','Hyundai Accent'])

cars_list

['Mahindra Thar',
 'Maruti Brezza',
 'Hyundai Venue',
 'Kia Sonet',
 'Maruti Alto',
 'Tata Altroz',
 'Tata Nano',
 'Honda City',
 'Hyundai Accent']

In [10]:
bikes_list = ['Royal enfield bullet','KTM Duke','TVS Apache']
bikes_list

['Royal enfield bullet', 'KTM Duke', 'TVS Apache']

# 4. Concatenation - Two lists can be added together with '+'

In [11]:
Automotive_list = cars_list + bikes_list
Automotive_list

['Mahindra Thar',
 'Maruti Brezza',
 'Hyundai Venue',
 'Kia Sonet',
 'Maruti Alto',
 'Tata Altroz',
 'Tata Nano',
 'Honda City',
 'Hyundai Accent',
 'Royal enfield bullet',
 'KTM Duke',
 'TVS Apache']

In [ ]:
cars_list #Original list is not affected

# 5. Index function is used to acces the index position of any particular element

In [12]:
Automotive_list.index('Tata Nano')

6

In [13]:
Automotive_list.index('tata Nano') #Name should be an exact match

ValueError: 'tata Nano' is not in list

In [14]:
Automotive_list.index('KTM Duke')

10

# 6. Remove method is uesd to remove any element from the list

In [15]:
Automotive_list.remove('Maruti Alto')

Automotive_list

['Mahindra Thar',
 'Maruti Brezza',
 'Hyundai Venue',
 'Kia Sonet',
 'Tata Altroz',
 'Tata Nano',
 'Honda City',
 'Hyundai Accent',
 'Royal enfield bullet',
 'KTM Duke',
 'TVS Apache']