In [1]:
cars_list = ['Mahindra Thar','Maruti Brezza','Hyundai Venue','Kia Sonet']

cars_list

['Mahindra Thar', 'Maruti Brezza', 'Hyundai Venue', 'Kia Sonet']

# 1. a += a

In [2]:
cars_list += ['Toyota Corolla','Toyota Fortuner']

cars_list

['Mahindra Thar',
 'Maruti Brezza',
 'Hyundai Venue',
 'Kia Sonet',
 'Toyota Corolla',
 'Toyota Fortuner']

# 2. Sort method - default is ascending sort or according to alphabetical order in case of strings

In [3]:
cars_list.sort()

cars_list

['Hyundai Venue',
 'Kia Sonet',
 'Mahindra Thar',
 'Maruti Brezza',
 'Toyota Corolla',
 'Toyota Fortuner']

# 3. Reverse method is used to reverse the current order of lists.

In [4]:
cars_list.reverse()

cars_list

['Toyota Fortuner',
 'Toyota Corolla',
 'Maruti Brezza',
 'Mahindra Thar',
 'Kia Sonet',
 'Hyundai Venue']

# 4. Pop operation removes the last element in the list

In [5]:
cars_list.pop()

cars_list

['Toyota Fortuner',
 'Toyota Corolla',
 'Maruti Brezza',
 'Mahindra Thar',
 'Kia Sonet']

In [6]:
cars_list.pop() #again the current last element will be removed

cars_list

['Toyota Fortuner', 'Toyota Corolla', 'Maruti Brezza', 'Mahindra Thar']

In [7]:
cars_list.append('Toyota Fortuner') 

cars_list #list can contain duplicate items

['Toyota Fortuner',
 'Toyota Corolla',
 'Maruti Brezza',
 'Mahindra Thar',
 'Toyota Fortuner']

In [8]:
cars_list.append('Toyota Fortuner') 

cars_list #list can contain duplicate items

['Toyota Fortuner',
 'Toyota Corolla',
 'Maruti Brezza',
 'Mahindra Thar',
 'Toyota Fortuner',
 'Toyota Fortuner']

In [9]:
cars_list.count('Toyota Fortuner')

3

In [11]:
cars_list.count('toyota Fortuner') #t is in lower case

0

In [12]:
cars_list.count('Toyota Corolla')

1

# 5. set function to convert a list to a set

In [14]:
set(cars_list) #Duplicate entries get removed

{'Mahindra Thar', 'Maruti Brezza', 'Toyota Corolla', 'Toyota Fortuner'}

In [15]:
print(cars_list)

['Toyota Fortuner', 'Toyota Corolla', 'Maruti Brezza', 'Mahindra Thar', 'Toyota Fortuner', 'Toyota Fortuner']

# 6. Clear function to remove every element from the list

In [17]:
cars_list.clear()

cars_list

[]