In [1]:
my_car_list = ['Maruti 800','Toyota Fortuner','Lamborghini Gallardo','Ferrari','Aston Martin','Porsche Carrera']
my_car_list

['Maruti 800',
 'Toyota Fortuner',
 'Lamborghini Gallardo',
 'Ferrari',
 'Aston Martin',
 'Porsche Carrera']

## List_name[start_index:end_index:step_size]
#### Step size is the number of lements to step over when accessing the list

In [2]:
my_car_list[0:5:] #By default step size is 1

['Maruti 800',
 'Toyota Fortuner',
 'Lamborghini Gallardo',
 'Ferrari',
 'Aston Martin']

In [3]:
my_car_list[::2]

['Maruti 800', 'Lamborghini Gallardo', 'Aston Martin']

In [4]:
my_car_list[0:5:2]

['Maruti 800', 'Lamborghini Gallardo', 'Aston Martin']

In [6]:
my_car_list[2:5:2]

['Lamborghini Gallardo', 'Aston Martin']

In [7]:
my_car_list[2:5:3]

['Lamborghini Gallardo']

In [8]:
my_car_list[0:5:3]

['Maruti 800', 'Ferrari']

In [9]:
my_car_list[1:4:2]

['Toyota Fortuner', 'Ferrari']

In [10]:
my_car_list

['Maruti 800',
 'Toyota Fortuner',
 'Lamborghini Gallardo',
 'Ferrari',
 'Aston Martin',
 'Porsche Carrera']

In [11]:
my_car_list[::-1]  #Will access our list in reverse order

['Porsche Carrera',
 'Aston Martin',
 'Ferrari',
 'Lamborghini Gallardo',
 'Toyota Fortuner',
 'Maruti 800']

In [12]:
my_car_list[2:0:-1]

['Lamborghini Gallardo', 'Toyota Fortuner']

In [13]:
my_car_list[4:1:-1]

['Aston Martin', 'Ferrari', 'Lamborghini Gallardo']

In [16]:
my_car_list[-4:0:-1]

['Lamborghini Gallardo', 'Toyota Fortuner']

In [17]:
my_car_list[::-2]

['Porsche Carrera', 'Ferrari', 'Toyota Fortuner']

In [18]:
print(my_car_list)
len(my_car_list)

['Maruti 800', 'Toyota Fortuner', 'Lamborghini Gallardo', 'Ferrari', 'Aston Martin', 'Porsche Carrera']

6

In [19]:
my_car_list[6:-1] = ['Kia Seltos','Hyundai Santro']

In [21]:
my_car_list

['Maruti 800',
 'Toyota Fortuner',
 'Lamborghini Gallardo',
 'Ferrari',
 'Aston Martin',
 'Porsche Carrera',
 'Kia Seltos',
 'Hyundai Santro']

# in command to check whether a particular element is in a list

In [22]:
'Kia Seltos' in my_car_list

True

In [23]:
my_car_list.pop(-2)

'Kia Seltos'

In [24]:
'Kia Seltos' in my_car_list

False

In [25]:
my_car_list

['Maruti 800',
 'Toyota Fortuner',
 'Lamborghini Gallardo',
 'Ferrari',
 'Aston Martin',
 'Porsche Carrera',
 'Hyundai Santro']